# If/when HANA BrainForge is wired for Neon models (see other advisor repos):
HANA_BASE_URL=https://hana.neonaialpha.com
HANA_USERNAME=guest
HANA_PASSWORD=password
# BrainForge/Security (4090 x1-3)
HANA_KLATCHAT_PASSWORD=sk_klatchat2024
